rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow read: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId);
      allow create: if request.auth != null;
    }
  }
}
