rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      // The admin's email is stored in an environment variable in the app.
      // We check against that value here.
      // Make sure the `ADMIN_EMAIL` is set in your deployment environment.
      return request.auth != null && request.auth.token.email == "talhaaffiliates123@gmail.com";
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /orders/{orderId} {
      allow read: if isOwner(resource.data.userId) || isAdmin();
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId) || isAdmin();
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId) || isAdmin();
      allow create: if request.auth != null;

       match /notifications/{notificationId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    match /cancellationReasons/{cancellationId} {
      allow read: if isAdmin();
      allow create: if request.auth != null && isOwner(request.resource.data.userId);
    }
  }
}
