@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 10% 23%;
    --card: 210 40% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 40% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 10% 23%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 30% 94%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 30% 94%;
    --muted-foreground: 210 10% 45%;
    --accent: 45 63% 52%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 45 63% 52%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 210 40% 98%;
    --card: 210 10% 23%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 28%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 28%;
    --muted-foreground: 210 10% 65%;
    --accent: 45 63% 52%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 28%;
    --input: 210 10% 28%;
    --ring: 45 63% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
