@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body leading-relaxed;
  }
}

@layer base {
  :root {
    --background: 220 13% 10%;
    --foreground: 210 40% 98%;
    --card: 220 13% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 34.9 91.6% 50.2%;
    --primary-foreground: 42 94.6% 12.2%;
    --secondary: 220 13% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 13% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 34.9 91.6% 50.2%;
    --accent-foreground: 42 94.6% 12.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 34.9 91.6% 50.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
